.top_menu_back {
	background:#FF0000; color:#FFFFFF; font-size:16px;
}
.left_menu_back {
	background:#FF0000; color:#FFFFFF!important;
}

.fotter_back {
	background:#FF0000; color:#FFFFFF; font-size:16px; text-align:center; padding:10px;
}
.hover_color {
	color:#FFFFFF!important;
}

@media only screen and (max-width: 500px) {


}

